@import './assets/Inter/inter.css';
@import 'frappe-ui/src/style.css';

h5 {
  font-family: 'Mulish', sans-serif;
}

p {
  font-family: 'Mulish', sans-serif;
}

div {
  font-family: 'Mulish', sans-serif;
}

.truncate-2-lines {
  /* max-height: 2.6em;

  line-height: 1.8em;
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden; */

  display: -webkit-box;
  max-width: 500px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

body {
  /* background-image: url("../../src/assets/Inter/img/Frame1.jpg");
  background-repeat: no-repeat;
  background-size: 230ch; */
  /* background-position: center; */
  /* background-attachment: local; */
}