@import './assets/Inter/inter.css';
@import 'frappe-ui/src/style.css';

h5{
  font-family: 'Mulish', sans-serif;
}
p{
  font-family: 'Mulish', sans-serif;
}
div{
    font-family: 'Mulish', sans-serif;
}